@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
body {
  min-width: 320px;
  max-width: 750px !important;
  margin: 0 auto;
  background-color: #f2f4f7;
  -webkit-tap-highlight-color: transparent;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrap {
  background-color: white;
  margin-bottom: 10px;
}
.header {
  width: 20rem;
  height: 3.44rem;
  background: #ffffff;
  font-size: 0.933333rem;
  line-height: 3.44rem;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: center;
  color: #1c1c1c;
  border-bottom: 1px solid #eaeaea;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.nav .item {
  width: 33.33%;
  font-size: 0.666667rem;
  color: #707070;
}
.nav .item img {
  margin-top: 1.173333rem;
  margin-left: 1.386667rem;
  display: block;
  width: 3.706667rem;
}
.nav .item span {
  display: block;
  margin-bottom: 0.666667rem;
  font-family: Arial, Arial-Regular;
  line-height: 0.72rem;
}
.go {
  margin-left: 0.48rem;
  margin-right: 0.266667rem;
  padding-bottom: 1.146667rem;
}
.content {
  padding: 1.066667rem 0.64rem;
  background-color: white;
  margin-top: 0.266667rem;
}
.content .con-hd {
  display: flex;
  justify-content: space-between;
  line-height: 1.013333rem;
}
.content .con-hd h4 {
  font-size: 0.746667rem;
  font-family: Microsoft YaHei, Microsoft YaHei-Bold;
  font-weight: 700;
  text-align: left;
  color: #333333;
  margin: 0;
}
.content .con-hd h4 img {
  display: inline-block;
  vertical-align: middle;
  width: 0.986667rem;
  height: 0.986667rem;
  margin-right: 0.48rem;
}
.content .con-hd a {
  padding-top: 0.133333rems;
  font-size: 0.586667rem;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: left;
  color: #999999;
}
.get_job_focus {
  position: relative;
}
.get_job_focus .swiper-container {
  margin-top: 0.906667rem;
  width: 14.4rem;
  height: 100%;
}
.get_job_focus .swiper-slide {
  text-align: center;
  font-size: 0.48rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  opacity: 0.4;
}
.get_job_focus .swiper-slide a {
  width: 9.013333rem;
}
.get_job_focus .swiper-slide a img {
  width: 100%;
  border-radius: 0.5rem;
}
.get_job_focus .swiper-slide a p {
  width: 9.013333rem;
  height: 0.666667rem;
  text-align: center;
  font-size: 0.666667rem;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  color: #333333;
  line-height: 0.666667rem;
  margin-top: 0.64rem;
  letter-spacing: 0.026667rem;
}
.get_job_focus .swiper-slide-active,
.get_job_focus .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 1;
  opacity: 1;
}
.study {
  overflow: hidden;
  margin-bottom: 3rem;
}
.study .swiper {
  padding: 0.266667rem 0.72rem;
  height: 100%;
}
.study .swiper-slide {
  margin-top: 1rem;
  width: 7.733333rem !important;
  position: relative;
  height: 9.066667rem;
  text-align: center;
  font-size: 0.48rem;
  background: #fff;
  border-radius: 0.266667rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.study .swiper-slide a {
  top: 0;
  position: relative;
  width: 7.253333rem;
}
.study .swiper-slide a img {
  top: 0;
  width: 7.253333rem;
  height: 4.56rem;
}
.study .swiper-slide a h5 {
  font-size: 0.746667rem;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin: 0.533333rem 0;
  color: #333333;
}
.study .swiper-slide a p {
  font-size: 0.693333rem;
  font-weight: 400;
  text-align: left;
  color: #ff4400;
}
.study .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 750px;
  border-top: 0.026667rem solid #e2e2e2;
  height: 3.013333rem;
  background-color: white;
  margin: 0;
  padding: 0;
}
.footer .footer_nav {
  width: 100%;
  height: 3.013333rem;
}
.footer .footer_nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer .footer_nav ul li {
  flex: 1;
  float: left;
  position: relative;
  width: 25%;
  height: 3.013333rem;
  padding-bottom: 0.533333rem;
  font-size: 0.586667rem;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: center;
}
.footer .footer_nav ul li a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.533333rem;
  color: #666666;
}
.footer .footer_nav ul li a img {
  display: inline-block;
  width: 1.04rem;
}
.footer .footer_nav ul li:nth-child(1) a {
  color: #2ccac7;
}
